# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# OS
.DS_Store

# IDEs
.vscode/
.idea/
